   <div class="container calendar">
      <h1 id="calendar-name" class="text-center">Розклад ігор першої ліги Радехівського району (група А)</h1>
      <div class="col-sm-1 hidden-xs">
        <p>24.04</p>
        <p>24.04</p>
        <p>24.04</p>
        <p>24.04</p>
        <p>24.04</p>
        <p>24.04</p>
        <br>
        <p>01.05</p>
        <p>01.05</p>
        <p>01.05</p>
        <p>01.05</p>
        <p>01.05</p>
        <p>01.05</p>
        <br>
        <p>08.05</p>
        <p>08.05</p>
        <p>08.05</p>
        <p>08.05</p>
        <p>08.05</p>
        <p>08.05</p>
        <br>
        <p>15.05</p>
        <p>15.05</p>
        <p>15.05</p>
        <p>15.05</p>
        <p>15.05</p>
        <p>15.05</p>
      </div>

      <div class="col-sm-2 hidden-xs">
        <p>1 тур</p>
        <p>1 тур</p>
        <p>1 тур</p>
        <p>1 тур</p>
        <p>1 тур</p>
        <p>1 тур</p>
        <br>
        <p>2 тур</p>
        <p>2 тур</p>
        <p>2 тур</p>
        <p>2 тур</p>
        <p>2 тур</p>
        <p>2 тур</p>
        <br>
        <p>3 тур</p>
        <p>3 тур</p>
        <p>3 тур</p>
        <p>3 тур</p>
        <p>3 тур</p>
        <p>3 тур</p>
        <br>
        <p>4 тур</p>
        <p>4 тур</p>
        <p>4 тур</p>
        <p>4 тур</p>
        <p>4 тур</p>
        <p>4 тур</p>
      </div>
      <div class="col-sm-4 col-xs-5 text-right">
        <p>ФК "Качурівка" Радехів</p>
        <p>ФК Руденко</p> 
        <p>ФК Миколаїв</p>
        <p>ФК Немилів</p> 
        <p>ФК "Ластівка" Куликів</p>
        <p>ФК Сморжів</p>
        <br>
        <p>ФК Середпільці</p>
        <p>ФК "Ольвія" Пиратин</p>
        <p>ФК Барилів/Увин</p>
        <p>ФК Батиїв</p>
        <p>ФК Сморжів</p>
        <p>ФК Оглядів</p>
        <br>
        <p>ФК Миколаїв</p>
        <p>ФК "Качурівка" Радехів</p>
        <p>ФК Немилів</p> 
        <p>ФК "Ластівка" Куликів</p>
        <p>ФК Оглядів</p>
        <p>ФК Руденко</p>
        <br>
        <p>ФК "Ольвія" Пиратин</p>
        <p>ФК Барилів/Увин</p>
        <p>ФК Батиїв</p>
        <p>ФК Сморжів</p>
        <p>ФК Руденко</p>
        <p>ФК Середпільці</p>
      </div>
      <div class="col-sm-1 col-xs-2 text-center">
        <p>1:2</p>
        <p>0:8</p>
        <p>3:3</p>
        <p>1:3</p>
        <p>3:4</p>
        <p> - </p>
        <br>
        <p>0:3</p>
        <p>8:0</p>
        <p>1:1</p>
        <p>0:4</p>
        <p>3:0</p>
        <p> - </p>
        <br>
        <p>5:1</p>
        <p>3:2</p>
        <p>0:5</p>
        <p>6:0</p>
        <p>3:2</p>
        <p> - </p>
        <br>
        <p>1:2</p>
        <p>4:3</p>
        <p>+ : -</p>
        <p>0:2</p>
        <p>2:2</p>
        <p> - </p>
      </div>
      <div class="col-sm-4 col-xs-5">
        <p>ФК "Ольвія" Пиратин</p>
        <p>ФК Батиїв</p>
        <p>ФК Барилів/Увин</p> 
        <p>ФК Середпільці</p>
        <p>ФК Оглядів</p>
        <p>Вихідний</p>
        <br>
        <p>ФК "Ластівка" Куликів</p>
        <p>ФК Немилів</p>
        <p>ФК "Качурівка" Радехів</p>
        <p>ФК Миколаїв</p>
        <p>ФК Руденко</p> 
        <p>Вихідний</p>
        <br>
        <p>ФК Сморжів</p>
        <p>ФК Батиїв</p>
        <p>ФК Барилів/Увин</p> 
        <p>ФК "Ольвія" Пиратин</p>
        <p>ФК Середпільці</p>
        <p>Вихідний</p>
        <br>
        <p>ФК Оглядів</p>
        <p>ФК "Ластівка" Куликів</p>
        <p>ФК Немилів</p>
        <p>ФК "Качурівка" Радехів</p>
        <p>ФК Миколаїв</p>
        <p>Вихідний</p>
      </div>
   </div>
