    <div id="main-content" class="container">
        <div class="main-content col-md-8 col-xs-12">
         <div class="jumbotron">
         <img src="images/kachurivka-photo-small.png" alt="Team photo" class="img-responsive visible-xs">
         </div>
         <div class="description">
           <h3>ФК "Качурівка" з 2005 і до сьогодні</h3>
           <p>ФК "Качурівка" заснована у 2005 році. За роки свого існування гравці клубу грали у вищій та першій лігах футбольної першості Радехівського району. В сезоні 2016 року зайняла 4 місце в Першій лізі (Група А) Радехівського району, що дозволило команді у подальшому боротися за вихід у вищу лігу. Однак за сумою двох зустрічей з переможцем групи Б командою села Сушно, де команда два рази поступилася з загалим рахунком 3-1, не змогла пройти дальше.
           Вболівальники команди вірять, що у наступному сезоні команда вийде у вищий дивізіон, де буде гідно грати надалі.</p>
         </div>
         <div class="tournament">
          <img src="images/tournament-small.png" alt="Team photo" class="img-responsive visible-xs">
         </div>
         <div class="description" id="description2">
         <h3> Кубок Ліги 2016 року </h3>
         </div>
        </div>
         <div class="col-md-4 hidden-xs">
            <div class="anounce">
            </div>
            <div class="otheranounce1">
            </div>
            <div class="otheranounce2">
            </div>
            <div class="otheranounce3">
            </div>
         </div>
    </div>